# Full local install: CPU pipeline + MSI-Net + Nova/S3.
# Prefer the extras directly:
#   pip install -e ".[cpu]"                 # 01-17, 19-21, 25
#   pip install -e ".[cpu,tf-saliency]"     # plus 18
#   pip install -e ".[all]"                 # plus Nova QA / S3
-e ".[all]"
